.cover-container {
  display: flex;
  /* Distributes the space between the two components */
  align-items: flex-start; /* Aligns items to the top */
  gap: 20px; /* Adds some space between the components */
}

.patient-detail {
  margin-top: 5em;
  position: absolute;
  right: 2em;
}

.vital-signs-container {
  margin-top: 4em;
  display: flex;
  flex-direction: row;
}
